@import url("/styles/header.css");
@import url("/styles/banner.css");
@import url("/styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("/styles/rodape.css");

:root {
    --cor-de-fundo: #EBECEE;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --swiper-pagination-color: var(--azul-degrade);
    --azul: #002F52;
    --fundo-rodape: #f9f9f9;
    --cor-rodape-titulo: #858585;
    --cor-rodape-link: #474646;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}